body {
  background: papayawhip;
}

* {
  border: 1px groove black;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 3;
  align-items: center;
  min-height: 75vh;
}

header, footer, aside, .wrapper {
  flex-grow: 1;
  max-height: 10vh;
  margin: 1em;
}

aside {
  color: green;
  display: flex;
  width: 90%;
  min-height: 15vh;
  justify-content: space-between;
}

aside > div {
  flex-grow: 10;
}

main {
  width: 90%;
  flex-grow: 3;
}

@media (min-width:600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    color: red;
    width: 100%;
    max-width: 10vh;
  } 
  .wrapper {
    justify-content: stretch;
    flex-basis: 70%;
    min-height: 70vh;
  }
  footer {
    flex-grow: 3;
    min-height: 80vh;
  }
}